*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: relative;
}

.wave{
    position: absolute;
    bottom: 0;
}


table,
tr,
th,
td{
    border: 2px solid #111;
    border-collapse: collapse;
    padding: 1rem;
}

table{
    margin: 1rem auto;
}

th{
    background-color: #305c61;
    color: whitesmoke;
}

tr:nth-child(odd){
    background-color: lightgray;
}

h1{
    text-align: center;
    color: #305c61;
}

a{
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

.edit{
    font-size: 1.2rem;
}

.delete{
    color: red;
}

.add-btn{
    display: inline-block;
    position: absolute;
    left: 50%;
    text-align: center;
    background-color: lightgrey;
    color: #305c61;
    border-radius: .5rem;
    border: thick solid #305c61;
    padding: 6px;
}

.add-movie-form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    height: auto;
    width: 80%;
    background-color: grey;
    border-radius: .5rem;
}

.add-movie-form label{
    font-size: 1.5rem;
    font-weight: 500;
    color: whitesmoke;
}

.add-movie-form input{
    margin: .5rem;
    font-size: 1.4rem;
    padding: .25rem;
    width: 100%;
}

.add-movie-form button{
    margin: 1rem;
    padding: .25rem;
    font-size: 1.1rem;
    border: 3px solid #305c61;
    border-radius: .5rem;
    color: #305c61;
}